@font-face {
  font-family: 'Noto Color Emoji';
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

h1 {
    text-align: center;
}

#data {
    text-align: center;
}

#data_tables table {
    border: 1px solid black;
    margin: 1em auto;
}

#data_tables  td {
    border: 1px solid black;
    padding: 0.2em;
}

#data_tables  tr.disabled {
    color: gray;
    background-color: lightgrey;
}

#data_tables  td.selected {
    background-color: orange;
}

#data_tables  td.win {
    font-weight: bold;
    color: black;
    background-color: palegreen;
}

#data_tables td.lose {
    font-style: italic;
    color: black;
    background-color: palevioletred;
}

.current_list .win, .slip_list .win {
    font-weight: bold;
    background-color: lightgreen;
}

.current_list .lose, .slip_list .lose {
    font-style: italic;
    background-color: lightsalmon;
}

.slip.win {
    background-color: palegreen;
}

.slip.lose {
    background-color: lavenderblush;
}


#data {
    margin-left:25%;
}

#data td {
    font-size: 0.75em;
}

#current {
    width: 25%;
    height: 100%;
    position: fixed;
    overflow: auto;
    border: 1px solid black;
    background: white;
    font-size: 0.75em;
    top: 0;
    left: 0;
    padding: 1em;
}

.logo {
    display: block;
    float: right;
    margin-left: 1em;
    font-size: 1.25em;
}

td:last-child .logo {
    float: left;
    margin-left: 0;
    margin-right: 1em;
}

@media only screen and (max-width: 920px) {
    #current {
        width: 100%;
        height: auto;
        position: relative;
        overflow: auto;
        border: 1px solid black;
        background: white;
        font-size: 0.75em;
        top: auto;
        left: auto;
        padding: 1em;
    }
    #data {
        margin-left: 0;
    }
    #data td {
        font-size: 0.5em;
    }
}

#current input {
    width: 100%;
}
#current button {
    width: 100%;
}
#current div {
    margin-bottom: 0.5em;
}

#current h2 {
    margin-top: 1em;
}

#current #current_list {
    font-size: 0.75em;
}

#basket .slip {
    display: inline-block;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
}

#basket .slip_list {
    font-size: 0.75em;
}

#slip_export {
    border: 1px solid black;
}

#load_canvas {
    display: none;
}

#load {
    padding-bottom: 2em;
}
