h1 {
    text-align: center;
}

#data {
    text-align: center;
}

#winner_table, #round_table {
    border: 1px solid black;
    margin: 1em auto;
}

#winner_table td, #round_table td {
    border: 1px solid black;
    padding: 0.2em;
}

#winner_table tr.disabled, #round_table tr.disabled {
    color: gray;
    background-color: lightgrey;
}

#winner_table td.selected, #round_table td.selected {
    background-color: lightgreen;
}

#data {
    margin-left:25%;
}

#data td {
    font-size: 0.75em;
}

#current {
    width: 25%;
    height: 100%;
    position: fixed;
    overflow: auto;
    border: 1px solid black;
    background: white;
    font-size: 0.75em;
    top: 0;
    left: 0;
    padding: 1em;
}

@media only screen and (max-width: 720px) {
    #current {
        width: 100%;
        height: auto;
        position: relative;
        overflow: auto;
        border: 1px solid black;
        background: white;
        font-size: 0.75em;
        top: auto;
        left: auto;
        padding: 1em;
    }
    #data {
        margin-left: 0;
    }
    #data td {
        font-size: 0.5em;
    }
}

#current input {
    width: 100%;
}
#current button {
    width: 100%;
}
#current div {
    margin-bottom: 0.5em;
}

#current h2 {
    margin-top: 1em;
}

#current #current_list {
    font-size: 0.75em;
}

#basket .slip {
    display: inline-block;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
}

#basket .slip_list {
    font-size: 0.75em;
}

#slip_export {
    border: 1px solid black;
}

#load_canvas {
    display: none;
}

#load {
    padding-bottom: 2em;
}
